:root {
  --paper: #c6b486;
  --pure-white: #ffffff;
  --off-white: #aaaaaa;
  --light: #999999;
  --mid-grey: #666666;
  --dark: #333333;
  --black: #000000; }

html {
  --border-major: var(--mid-grey);
  --bg-major: var(--paper); }

.map {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 200px;
  grid-template-areas: ". 			  islands 	 ." "btm-left btm-centre btm-right"; }
  .map .islands {
    grid-area: islands;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nw ne" "sw se"; }
    .map .islands .island-hugle {
      grid-area: nw; }
      .map .islands .island-hugle img {
        margin: 88px 110px;
        width: 200px;
        height: 150px; }
    .map .islands .island-mantrasphere {
      grid-area: ne; }
      .map .islands .island-mantrasphere img {
        margin: 50px 50px;
        width: 250px;
        height: 200px; }
    .map .islands .island-archive {
      grid-area: sw; }
      .map .islands .island-archive img {
        margin: 0 80px;
        width: 250px;
        height: 200px; }
    .map .islands .island-chan {
      grid-area: se; }
      .map .islands .island-chan img {
        margin: 0 30px;
        width: 150px;
        height: 100px; }
  .map .title {
    grid-area: btm-right; }
  .map .legend {
    grid-area: btm-left; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; }

/* include border and padding in element width and height */
* {
  box-sizing: border-box; }

body {
  font-family: 'Old Standard TT', serif;
  font-size: 1em;
  background-image: url("../graphics/paper-1.jpg");
  background-color: var(--paper);
  background-position: center; }

.grid-wrap {
  height: calc(100vh - 20px);
  border: 3px solid var(--dark);
  margin: 10px;
  background-size: 80px 80px;
  background-image: linear-gradient(to right, var(--border-major) 1px, transparent 1px), linear-gradient(to bottom, var(--border-major) 1px, transparent 1px); }

.map {
  height: 100%;
  background-image: url("../graphics/rose.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 99% 9px; }

.box {
  border: 3px solid var(--border-major);
  background-image: url("../graphics/paper-1.jpg");
  background-position: center;
  background-size: 100%;
  margin: 10px; }
  .box .inner {
    height: calc(100% - 10px);
    margin: 5px;
    padding: 40px;
    border: 2px solid var(--border-major); }
  .box.title {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 200px;
    width: 400px; }
    .box.title h1 {
      text-align: center; }
  .box.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 200px;
    width: 400px; }

nav {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid var(--border-major); }
  nav ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    nav ul li {
      display: inline-block;
      width: auto;
      padding: 3px 10px;
      flex: 1 1 auto; }
      nav ul li a {
        color: var(--hugle-hilight); }
    nav ul li:not(:last-child) {
      border-right: 1px solid var(--border-major); }

/*# sourceMappingURL=carrollonline.css.map */
