:root {
  --berkley-blue: #052F5F;
  --earth-green: #484F23;
  --indigo-dye: #005377;
  --hugle-mud: #34322D;
  --hugle-hilight: #ee8c2b;
  --fam-purple: #343248;
  --fam-gold: #957740;
  --chan-grey: #555559;
  --chan-blue: #157dff;
  --pure-white: #ffffff;
  --off-white: #aaaaaa;
  --light: #999999;
  --mid-grey: #666666;
  --dark: #333333;
  --black: #000000; }

html {
  --border-major: var(--mid-grey); }

body .clr-scheme-home {
  background-color: var(--berkley-blue);
  color: var(--light); }
  body .clr-scheme-home a {
    color: var(--light); }
body .clr-scheme-mantrasphere {
  background-color: var(--dark);
  color: var(--off-white); }
  body .clr-scheme-mantrasphere a {
    color: var(--off-white); }
body .clr-scheme-hugle {
  background-color: var(--earth-green);
  color: var(--off-white); }
  body .clr-scheme-hugle a {
    color: var(--off-white); }
body .clr-scheme-archive {
  background-color: var(--fam-purple);
  color: var(--light); }
  body .clr-scheme-archive a {
    color: var(--light); }
body .clr-scheme-chan {
  background-color: var(--indigo-dye);
  color: var(--light); }
  body .clr-scheme-chan a {
    color: var(--light); }

.grid-wrap {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "heading" "home" "mantrasphere" "hugle" "archive" "chan"; }
  .grid-wrap .heading {
    grid-area: heading;
    position: sticky;
    top: 0;
    width: 100%;
    height: 162px;
    background-color: var(--dark); }
    .grid-wrap .heading h1 a {
      letter-spacing: 10px; }
  .grid-wrap .home {
    grid-area: home; }
  .grid-wrap .mantrasphere {
    grid-area: mantrasphere; }
  .grid-wrap .hugle {
    grid-area: hugle; }
  .grid-wrap .archive {
    grid-area: archive; }
  .grid-wrap .chan {
    grid-area: chan; }
  .grid-wrap section {
    height: 100vh;
    display: grid;
    padding: 30px;
    border: none; }
    .grid-wrap section.pic-left {
      grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
      grid-template-rows: 142px 1fr 2fr 1fr;
      grid-gap: 15px;
      grid-template-areas: ". blank blank blank ." ". img main main ." ". img main main ." ". sub sub sub ."; }
      .grid-wrap section.pic-left h2 {
        grid-area: main; }
      .grid-wrap section.pic-left .pic {
        grid-area: img; }
      .grid-wrap section.pic-left .desc {
        grid-area: sub; }
    .grid-wrap section.pic-right {
      grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
      grid-template-rows: 142px 1fr 2fr 1fr;
      grid-gap: 15px;
      grid-template-areas: ". blank blank blank ." ". main main img ." ". main main img ." ". sub sub sub ."; }
      .grid-wrap section.pic-right h2 {
        grid-area: main; }
      .grid-wrap section.pic-right .pic {
        grid-area: img; }
      .grid-wrap section.pic-right .desc {
        grid-area: sub; }
    .grid-wrap section h2 {
      margin: auto;
      text-shadow: -2px 4px var(--black); }
    .grid-wrap section .pic img {
      object-fit: contain;
      width: 100%;
      border: 1px solid var(--border-major); }
    .grid-wrap section .desc {
      font-size: .8em; }

html {
  scroll-behavior: smooth; }

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Comfortaa', cursive;
  font-size: 2rem; }

.heading h1 {
  text-align: center;
  margin: 10px 0 10px 0; }
  .heading h1 a {
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, var(--indigo-dye), var(--fam-gold), var(--light));
    text-decoration: underline;
    text-decoration-color: var(--hugle-hilight); }

section {
  text-align: center;
  border: 1px solid var(--border-major); }
  section h2 a {
    animation: moveIn 8s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite; }

@keyframes moveIn {
  50%, 100% {
    transform: translateY(0em); }
  0% {
    opacity: 0;
    filter: blur(10px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }
nav {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid var(--border-major); }
  nav ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    nav ul li {
      display: inline-block;
      width: auto;
      padding: 3px 10px;
      flex: 1 1 auto; }
      nav ul li a {
        color: var(--hugle-hilight); }
    nav ul li:not(:last-child) {
      border-right: 1px solid var(--border-major); }

/*# sourceMappingURL=carrollonline.css.map */
