:root {
  --paper: #c6b486;
  --pure-white: #ffffff;
  --off-white: #aaaaaa;
  --accent: firebrick;
  --light: #999999;
  --mid-grey: #666666;
  --dark: #333333;
  --black: #000000; }

html {
  --border-major: var(--mid-grey);
  --bg-major: var(--paper); }

.map {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  grid-template-areas: "islands" "btm-left" "btm-right" "rose"; }
  .map .rose {
    grid-area: rose; }
  .map .title {
    grid-area: btm-right; }
  .map .legend {
    grid-area: btm-left; }
  @media only screen and (min-width: 1200px) {
    .map {
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 100px auto 200px;
      grid-template-areas: ".				.					 rose" ". 			  islands 	 ." "btm-left btm-centre btm-right"; } }
  .map .islands {
    grid-area: islands;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nw ne" "sw se"; }
    .map .islands .island-hugle {
      grid-area: nw; }
    .map .islands .island-mantrasphere {
      grid-area: ne; }
    .map .islands .island-archive {
      grid-area: sw; }
    .map .islands .island-chan {
      grid-area: se; }

.islands > * {
  position: relative; }
  .islands > * h2 {
    position: absolute; }
    @media only screen and (min-width: 1200px) {
      .islands > * h2 {
        letter-spacing: 8px;
        font-size: 1.5rem; } }
  .islands > * img {
    position: absolute;
    filter: blur(1px); }
  .islands > *:hover h2 {
    color: var(--accent); }
  .islands > *:hover img {
    width: 60%;
    height: 60%;
    filter: blur(0); }

.island-hugle h2 {
  top: 30%;
  left: 20px; }
.island-hugle img {
  width: 30%;
  height: 30%;
  top: 40%;
  left: 30%; }
@media only screen and (min-width: 1200px) {
  .island-hugle h2 {
    top: 10%;
    left: 80px; }
  .island-hugle img {
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%; } }

.island-mantrasphere h2 {
  top: 20%; }
.island-mantrasphere img {
  width: 30%;
  height: 30%;
  top: 50%;
  left: 34px; }
@media only screen and (min-width: 1200px) {
  .island-mantrasphere h2 {
    top: 26px;
    left: 50px; }
  .island-mantrasphere img {
    width: 50%;
    height: 50%;
    top: 84px;
    left: 84px; } }

.island-archive h2 {
  left: 20px; }
.island-archive img {
  width: 40%;
  height: 40%;
  top: 56px;
  left: 190px; }
@media only screen and (min-width: 1200px) {
  .island-archive h2 {
    top: 15px;
    left: 10px; }
  .island-archive img {
    width: 50%;
    height: 50%;
    top: 16px;
    left: 143px; } }

.island-chan img {
  width: 40%;
  height: 40%;
  top: 10px;
  right: 100px; }
@media only screen and (min-width: 1200px) {
  .island-chan h2 {
    top: 10%;
    left: 50%; }
  .island-chan img {
    width: 50%;
    height: 50%;
    top: 0px;
    left: 0px; } }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; }

*::before,
*::after,
* {
  box-sizing: border-box; }

body {
  font-family: 'Old Standard TT', serif;
  font-size: 1em;
  color: var(--dark);
  background-image: url("../graphics/paper-1.jpg");
  background-color: var(--paper);
  background-position: center; }

@media (prefers-color-scheme: dark) {
  body, h1, h2, h3 {
    color: var(--dark); } }
.grid-wrap {
  height: calc(100vh - 20px);
  border: 3px solid var(--dark);
  margin: 10px;
  background-size: 80px 80px;
  background-image: linear-gradient(to right, var(--border-major) 1px, transparent 1px), linear-gradient(to bottom, var(--border-major) 1px, transparent 1px); }

.map {
  height: 100%; }
  .map h2 {
    font-size: 3em; }
    @media only screen and (min-width: 1200px) {
      .map h2 {
        font-size: 1.5em; } }

.rose {
  position: relative; }
  .rose img.img-rose {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 90px;
    text-shadow: 5px 5px red; }
    .rose img.img-rose:hover {
      animation-name: spinRose;
      animation-duration: 3s; }
  @media only screen and (min-width: 1200px) {
    .rose img.img-rose {
      right: 20px;
      height: 150px; } }
  .rose .island-juegos {
    display: none; }
    .rose .island-juegos h2 {
      position: absolute;
      top: 20px;
      left: 20%; }
    .rose .island-juegos img {
      position: absolute;
      width: 30%;
      height: 30%;
      top: 30px;
      left: 40%;
      rotate: 165deg;
      transform: skew(40deg, -70deg); }
    @media only screen and (min-width: 1200px) {
      .rose .island-juegos h2 {
        position: absolute;
        top: 162px;
        left: 40%; }
      .rose .island-juegos img {
        top: 230px; } }
    .rose .island-juegos:hover h2 {
      color: var(--accent); }
    .rose .island-juegos:hover img {
      width: 40%;
      height: 40%;
      filter: blur(0); }

@keyframes spinRose {
  from {
    rotate: 0deg; }
  to {
    rotate: 360deg; } }
.box {
  border: 3px solid var(--border-major);
  background-image: url("../graphics/paper-1.jpg");
  background-position: center;
  background-size: 100%;
  margin: 10px; }
  .box .inner {
    border: 2px solid var(--border-major);
    padding: 5px; }
  .box.title {
    width: auto;
    height: auto; }
    .box.title h1 {
      text-align: center;
      font-size: 3.5em; }
    @media only screen and (min-width: 1200px) {
      .box.title .inner {
        height: calc(100% - 10px);
        margin: 5px;
        padding: 20px; }
      .box.title.title {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 200px;
        width: 400px; }
        .box.title.title h1 {
          text-align: center;
          font-size: 2em; } }
  .box.legend > h2 {
    margin: 0 auto;
    width: 100px; }
  .box.legend .inner {
    height: calc(100% - 40px); }
    .box.legend .inner > * {
      font-size: 2.3em;
      color: var(--accent); }
      @media only screen and (min-width: 1200px) {
        .box.legend .inner > * {
          font-size: 1.3em; } }
    .box.legend .inner > .hide {
      display: none; }
  @media only screen and (min-width: 1200px) {
    .box.legend {
      position: absolute;
      bottom: 10px;
      left: 10px;
      height: 200px;
      width: 400px; } }

nav {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid var(--border-major); }
  nav ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    nav ul li {
      display: inline-block;
      width: auto;
      padding: 3px 10px;
      flex: 1 1 auto; }
      nav ul li a {
        color: var(--hugle-hilight); }
    nav ul li:not(:last-child) {
      border-right: 1px solid var(--border-major); }

/*# sourceMappingURL=map.css.map */
