/* https://codepen.io/moutameni/pen/rzOKqB */

#check-for-clicking { 
  display: none; 
}
.main-add-button-plus, .menu-add-items, .main-add-button-minus {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.main-add-button-plus, .main-add-button-minus {
  background: #1f3779;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
}
.main-add-button-plus:hover { 
  background: #1e328b;
}
.main-add-button-minus:hover {
  background: #1e328b;
}
.main-add-button-plus:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #1e328b;
}
.main-add-button-minus:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #1e328b;
}
.main-add-button-plus .menu-add-button-title {
  padding: 14px 10px 10px 1px;
  width: 100%;
  height: 80px;
  font-size: 3em;
  text-align: center;
  color: #fafafa;
}
.main-add-button-minus .menu-add-button-title {
  padding: 14px 10px 10px 1px;
  width: 100%;
  height: 80px;
  font-size: 3em;
  text-align: center;
  color: #fafafa;
}
.menu-add-items { 
  z-index: 10; 
}
.plate {
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 130px;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer;
  background: #1f3779;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}
.plate a {
  color: white;
	display: block;
}
.plate i {
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
}
.plate:hover i { 
  color: #111;
}
.plate:nth-of-type(1) {
  background: #1f3779;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.plate:nth-of-type(2) {
  background: #1f3779;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.plate:nth-of-type(3) {
  background: #1f3779;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.plate:nth-of-type(4) {
  background: #1f3779;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.plate:nth-of-type(1) i a {
	padding-top: 53px;
}
.plate:nth-of-type(2) i a {
	padding-top: 46px;
}
.plate:nth-of-type(3) i a {
	padding-top: 53px;
}
.plate:nth-of-type(4) i a {
	padding-top: 50px;
}
.plate:nth-of-type(1):hover {
  background: #1e328b;
}
.plate:nth-of-type(2):hover {
  background: #1e328b;
}
.plate:nth-of-type(3):hover {
  background: #1e328b;
}
.plate:nth-of-type(4):hover {
  background: #1e328b;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate { 
  opacity: .9; 
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(1) {
  left: -300%; 
  top: 200%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(2) {
  left: -300%;
  top: -300%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(3) { 
  right: -300%;
  top: -300%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(4) {
  right: -300%;
	top: 200%;
}
#check-for-clicking:checked ~ .main-add-button-plus {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#check-for-clicking:checked ~ .main-add-button-minus {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#check-for-clicking:not(:checked) ~ .main-add-button-minus {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#check-for-clicking:not(:checked) ~ .main-add-button-plus {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
