// https://coolors.co/052f5f-005377-06a77d-d5c67a-f1a208
:root {
	--berkley-blue: #052F5F; 
	--earth-green: #484F23;
	--indigo-dye: #005377;
	--hugle-mud: #34322D;
	--hugle-hilight: #ee8c2b;
	--fam-purple: #343248;
	--fam-gold: #957740;
	--chan-grey: #555559;
	--chan-blue: #157dff;

	--pure-white: #ffffff;
	--off-white: #eeeeee;
	--light: #999999;
	--mid-grey: #666666;
	--dark: #333333;
	--black: #000000;
}

html {
	--border-major: var(--mid-grey);
}

body {
	.clr-scheme-home {
		background-color: var(--berkley-blue);
		color: var(--light);

		a {
			color: var(--light);
		}
	}

	.clr-scheme-mantrasphere {
		background-color: var(--dark);
		color: var(--pure-white);

		a {
			color: var(--pure-white);
		}
	}

	.clr-scheme-hugle {
		// background-color: var(--hugle-mud);
		background-color: var(--earth-green);
		color: var(--off-white);

		a {
			color: var(--off-white);
		}
	}

	.clr-scheme-archive {
		background-color: var(--fam-purple);
		color: var(--light);

		a {
			color: var(--light);
		}
	}

	.clr-scheme-chan {
		background-color: var(--indigo-dye);
		color: var(--light);

		a {
			color: var(--light);
		}
	}
}
