// https://coolors.co/052f5f-005377-06a77d-d5c67a-f1a208
:root {
	--berkley-blue: #052F5F; 
	--earth-green: #484F23;
	--hugle-mud: #34322D;
	--hugle-hilight: #ee8c2b;
	--fam-purple: #343248;
	--fam-gold: #957740;
	--chan-grey: #555559;
	--chan-blue: #157dff;

	--pure-white: #ffffff;
	--off-white: #eeeeee;
	--light: #999999;
	--mid-grey: #666666;
	--dark: #333333;
	--black: #000000;
}

html {
	--clr-1: var(--earth-green); 
	--clr-1-text: var(--light); 

	--clr-2: var(--black); 
	--clr-2-text: var(--pure-white); 

	--clr-3: var(--hugle-mud); 
	--clr-3-text: var(--hugle-hilight); 

	--clr-4: var(--fam-purple); 
	--clr-4-text: var(--fam-gold); 

	--clr-5: var(--chan-grey); 
	--clr-5-text: var(--chan-blue); 

	--border-major: var(--mid-grey);
}

body {
	.clr-scheme-home {
		background-color: var(--clr-1);
		color: var(--clr-1-text);

		a {
			color: var(--clr-1-text);
		}
	}

	.clr-scheme-mantrasphere {
		background-color: var(--clr-2);
		color: var(--clr-2-text);

		a {
			color: var(--clr-2-text);
		}
	}

	.clr-scheme-hugle {
		background-color: var(--clr-3);
		color: var(--clr-3-text);

		a {
			color: var(--clr-3-text);
		}
	}

	.clr-scheme-archive {
		background-color: var(--clr-4);
		color: var(--clr-4-text);

		a {
			color: var(--clr-4-text);
		}
	}

	.clr-scheme-chan {
		background-color: var(--clr-5);
		color: var(--clr-5-text);

		a {
			color: var(--clr-5-text);
		}
	}
}
