.grid-wrap {
	display: grid;

	grid-template-columns: auto;
	grid-template-areas:
		"heading"
		"home"
		"mantrasphere"
		"hugle"
		"archive"
		"chan";

	.heading {
		grid-area: heading;
		position: sticky;
		top: 0;
		width: 100%;
		height: 142px;
		background-color: var(--dark);
	}

	.home {
		grid-area: home;
	}

	.mantrasphere {
		grid-area: mantrasphere;
	}

	.hugle {
		grid-area: hugle;
	}

	.archive {
		grid-area: archive;
	}

	.chan {
		grid-area: chan;
	}

	section {
		height: 100vh;
		display: grid;
		padding: 30px;
		border: none;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 142px 1fr 2fr 1fr;
		grid-gap: 15px;
		grid-template-areas:
			"blank blank blank"
			"top-left top-middle top-right"
			"mid-left mid-middle mid-right"
			"btm-left btm-middle btm-right";

		&.home {
			h2 {
				grid-area: mid-middle;
			}

			.pic {
				grid-column-start: 3;
				grid-row: 2 / 4;

				img {
					width: 400px;
				}
			}

			.desc {
				grid-area: btm-left;
			}
		}

		&.mantrasphere {
			h2 {
				grid-area: mid-right;
			}

			.pic {
				grid-column-start: 1;
				grid-row: 2 / 4;

				img {
					width: 400px;
				}
			}

			.desc {
				grid-area: btm-middle;
			}
		}

		&.hugle {
			h2 {
				grid-area: top-middle;
			}

			.pic {
				grid-column-start: 1;
				grid-row: 3 / 4;

				img {
					width: 400px;
				}
			}

			.desc {
				grid-area: mid-right;
			}
		}

		&.archive {
			h2 {
				grid-area: mid-right;
			}

			.pic {
				grid-column-start: 1;
				grid-row: 2 / 4;

				img {
					width: 400px;
				}
			}

			.desc {
				grid-area: btm-middle;
			}
		}

		&.chan {
			h2 {
				grid-area: top-middle;
			}

			.pic {
				grid-column-start: 1;
				grid-row: 3 / 4;

				img {
					width: 400px;
				}
			}

			.desc {
				grid-area: btm-right;
			}
		}
	}
}


