.map {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 200px;
	grid-template-areas:
		"top 			top 			 top"
		"btm-left btm-centre btm-right";

	.islands {
		grid-area: top;
	}

	.title {
		grid-area: btm-right;
	}

	.legend {
		grid-area: btm-left;
	}
}

