.map {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 100px auto 200px;
	grid-template-areas:
		".				.					 rose"
		". 			  islands 	 ."
		"btm-left btm-centre btm-right";

	.rose {
		grid-area: rose;
	}

	.title {
		grid-area: btm-right;
	}

	.legend {
		grid-area: btm-left;
	}

	.islands {
		grid-area: islands;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
			"nw ne"
			"sw se";

		.island-hugle {
			grid-area: nw;
		}

		.island-mantrasphere {
			grid-area: ne;
		}

		.island-archive {
			grid-area: sw;
		}

		.island-chan {
			grid-area: se;
		}
	}
}

