html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--dark);
	color: var(--light);
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
}

.heading {
	h1 {
		text-align: center;
		margin: 10px auto 10px;

		a {
			background: linear-gradient(90deg, var(--light), var(--pure-white), var(--off-white), var(--light));
			background-repeat: no-repeat;
			-webkit-background-clip: text;
			-webkit-text-fill-color: rgba(255, 255, 255, 0);
		}
	}
}

section {
	text-align: center;
	border: 1px solid var(--border-major);

	h2 a {
		animation: moveIn 8s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
	}
}

// https://codepen.io/vainsan/pen/NWRaPXG
@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}

