html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--dark);
	color: var(--light);
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
}

.heading {
	h1 {
		text-align: center;
		margin: 10px 0 10px 0;

		a {
			color: transparent;
			background-clip: text;
			-moz-background-clip: text;
			-webkit-background-clip: text;
			background-image: linear-gradient(to right, var(--indigo-dye), var(--fam-gold), var(--light));
			text-decoration: underline;
			text-decoration-color: var(--hugle-hilight);
		}
	}
}

section {
	text-align: center;
	border: 1px solid var(--border-major);
}
