:root {
	--ff-base: 'Merriweather', serif;
	--ff-accent: 'Work Sans', sans-serif;

	/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--fs--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--fs-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --fs-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --fs-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --fs-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);

	--text: #646060;
	--background: #eceee4;
	--primary: #60c640;
	--secondary: #932db999;
	--accent: #932db9;

	body.dark-mode {
		--text: #aaa4a4;
		--background: #0e1004;
		--primary: #336224;
		--secondary: #ad46d299;
		--accent: #ad46d2;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color-scheme: light dark;
}

body {
	font-family: var(--ff-base), serif;
	font-family: var(--ff-accent), sans-serif;
	font-size: var(--fs-1);
	line-height: 1.6;
	color: var(--text);
	background: var(--background);
}

img {
	max-width: 100%;
	display: block;
}

main {
	width: min(100% - 4rem, 55ch);
	margin-inline: auto;

	.img-mode {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: var(--background);
	}
}

body.dark-mode .img-mode {
	background: var(--text);
}

h1, h2, h3 {
	color: var(--primary);
	text-wrap: balance;
}

h1 {
	font-size: var(--fs-4);
}

h2 {
	font-size: var(--fs-3);
}

h3 {
	font-size: var(--fs-2);
}

a {
	color: var(--secondary);
}

a:hover,
a:focus,
::marker {
	color: var(--accent);
}

section {
	height: 100vh;
	margin-block: 3rem;

	p.note {
		font-size: var(--fs--1);
	}
}
