* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body {
	font-size: 70px;
	perspective: 15em;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scene {
	height: 100vh;
	position: relative;
	transform-style: preserve-3d;
}

.floor {
	position: absolute;
	bottom: 1em;
	height: 10em;
	width: 10em;
	background: repeating-conic-gradient(
		from 45deg,
		#111 0deg 90deg,
		#222 90deg 180deg
	);
	background-size: 1em 1em;
	transform: 
		translate(-50%)
		rotateX(90deg);
}
