:root {
	--ff-base: 'Merriweather', serif;
}

body {
	font-family: var(--ff-base) sans-serif;
	font-size: 1.5rem;
  background-color: hsl(45, 7%, 21%);
  color: #fff;
  min-height: 100vh;
}

img {
	width: 100%;
	display: block;
}

a.home {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 1.5rem;
	color: #aaa;
}

.wrap {
	position: relative;
	margin: 40px auto;
	max-width: 1000px;
	height: 750px;
	background-image: url(../../graphics/h-wall-door.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;

	.title {
		position: absolute;
		z-index: 2;
		top: 0;
		margin-top: 30px;
		left: 0;
		width: 100%;
		text-align: justify;

		@supports (-moz-user-select:unset) {
			font-size: 380px;
		}
		@supports (-webkit-box-reflect:unset) {
			font-size: 456px;
		}

		display: inline;
		background-image: url(../../graphics/clouds-2.jpg);
		background-repeat: no-repeat;
		background-size: 160%;
		background-position-x: -450px;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		animation: drift 50s ease-out infinite alternate;

		@keyframes drift {
			to {
				background-position-x: 0px;
			}
		}
	}

	img {
		position: absolute;
	}
}
