html, body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
	font-family: 'Old Standard TT', serif;
	font-size: 1em;
	color: var(--dark);
	background-image: url('../graphics/paper-1.jpg');
	background-color: var(--paper);
	background-position: center;
}

@media (prefers-color-scheme: dark) {
	body, h1, h2, h3 {
		color: var(--dark);
	}
}

.grid-wrap {
	height: calc(100vh - 20px);
	border: 3px solid var(--dark);
	margin: 10px;
	background-size: 80px 80px;
  background-image:
    linear-gradient(to right, var(--border-major) 1px, transparent 1px),
    linear-gradient(to bottom, var(--border-major) 1px, transparent 1px);
}

.map {
	height: 100%;

	h2 {
		font-size: 3em;

		@include screen-width(large) {
			font-size: 1.5em;
		}
	}
}

.rose {
	position: relative;

	img.img-rose {
		position: absolute;
		top: 20px;
		right: 20px;
		height: 90px;
		text-shadow: 5px 5px red;

		&:hover {
			animation-name: spinRose;
			animation-duration: 3s;
		}
	}

	@include screen-width(large) {
		img.img-rose {
			right: 20px;
			height: 150px;
		}
	}

	.island-juegos {
		display: none;

		h2 {
			position: absolute;
			top: 20px;
			left: 20%;
		}
		
		img {
			position: absolute;
			width: 30%;
			height: 30%;
			top: 30px;
			left: 40%;
			rotate: 165deg;
			transform: skew(40deg, -70deg);
		}

		@include screen-width(large) {
			h2 {
				position: absolute;
				top: 162px;
				left: 40%;
			}
		
			img {
				top: 230px;
			}
		}

		&:hover {
			h2 {
				color: var(--accent);
			}

			img {
				width: 40%;
				height: 40%;
				filter: blur(0);
			}
		}
	}
}

@keyframes spinRose {
  from {
		rotate: 0deg;
  }

  to {
		rotate: 360deg;
  }
}

.box {
	border: 3px solid var(--border-major);
	background-image: url('../graphics/paper-1.jpg');
	background-position: center;
	background-size: 100%;
	margin: 10px;

	.inner {
		border: 2px solid var(--border-major);
		padding: 5px;
	}

	&.title {
		width: auto;
		height: auto;

		h1 {
			text-align: center;
			font-size: 3.5em;
		}

		@include screen-width(large) {
			.inner {
				height: calc(100% - 10px);
				margin: 5px;
				padding: 20px;
			}
			
			&.title {
				position: absolute;
				bottom: 10px;
				right: 10px;
				height: 200px;
				width: 400px;

				h1 {
					text-align: center;
					font-size: 2em;
				}
			}
		}
	}

	&.legend {
		& > h2 {
			margin: 0 auto;
			width: 100px;
		}

		& .inner {
			height: calc(100% - 40px);

			& > * {
				font-size: 2.3em;
				color: var(--accent);

				@include screen-width(large) {
					font-size: 1.3em;
				}
			}

			& > .hide {
				display: none;
			}
		}
	}

	@include screen-width(large) {
		&.legend {
			position: absolute;
			bottom: 10px;
			left: 10px;
			height: 200px;
			width: 400px;
		}
	}
}
