*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: var(--bg-2);;
  color: #fff;
  min-height: 100vh;
	font-size: 2em;
	color: var(--silver);
	border: 150px solid var(--bg-1);
	display: grid;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	background-color: var(--bg-4);
	border: 100px solid var(--bg-3);
	padding: 40px;
}

a, a:link, a:visited {
	color: var(--black);
}
