*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--sizing: 60px;
}

body {
  background-color: var(--bg-2);;
  min-height: 100vh;
	font-size: 1.5em;
	color: var(--txt-1);
	border: var(--sizing) solid var(--bg-1);
	padding: var(--sizing);
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr;
	grid-template-areas: 'main';
}

.wrap {
	grid-area: main;
	background-color: var(--bg-4);
	border: var(--sizing) solid var(--bg-3);
	height: 100%;
	position: relative;
}

a, a:link, a:visited {
	color: var(--bg-2);
}
