:root {
	--ham-width: 50px;
	--ham-height: 8px;
}

.nav-toggle {
	width: var(--ham-width);
	position: absolute;
	top: 40px;
	left: calc(50% - 10px);
	background: none;
	border: none;

	.hamburger,
	.hamburger::before, 
	.hamburger::after {
		background-color: var(--txt-2);
		width: var(--ham-width);
		height: var(--ham-height);
	}

	.hamburger {
		display: block;
		position: relative;
		top: 0;
		left: 0;
	}

	.hamburger::before, 
	.hamburger::after {
		position: absolute;
		left: 0;
		content: '';
	}

	.hamburger::before {
		top: 12px;
	}

	.hamburger::after {
		bottom: 12px;
	}
}

.nav-toggle.x {
	.hamburger {
		transition: rotate 350ms ease-in-out;
		rotate: 45deg;
	}

	.hamburger::before {
		display: none;
	}

	.hamburger::after {
		rotate: -90deg;
		transform: translateX(-12px);
	}

	.hamburger,
	.hamburger::before, 
	.hamburger::after {
		background-color: var(--silver);
	}
}

ul {
	margin-top: 25px;
	height: calc(100% - 25px);
	list-style: none;
	background-color: var(--bg-5);
	border: var(--sizing) solid var(--bg-4);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-direction: column;
	flex-grow: 1;
	padding-block: 20px;
	// visibility: hidden;

	&.open {
		// visibility: visible;
	}

	li {
		width: 100%;
		padding-inline: 10px;
	}
}

body {
	transition: all 300ms ease-in;
}

body.open {
	transition: all 500ms ease-in;

	border-color: var(--bg-5);
	background-color: var(--bg-4);

	.wrap {
		border-color: var(--bg-3);
		background-color: var(--bg-2);

		ul.open {
			border-color: var(--bg-2);
			background-color: var(--bg-1);

			a, a:link, a:visited {
				color: var(--silver);
			}
		}
	}
}
