*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a.home {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 1.5rem;
	color: #aaa;
}

body {
  min-height: 100vh;
	font-size: 1.5em;
	color: var(--txt-1);
	background-color: var(--bg-1);
}

.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.card {
	position: relative;
	margin: 10% auto 0;
	width: 200px;
	height: 300px;
	text-align: center;
	padding: 20px;
	background: linear-gradient(0deg, var(--bg-1), var(--bg-3));
}

.glow::before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	background: linear-gradient(45deg, var(--brd-1), var(--brd-2), 
		var(--brd-3), var(--brd-4), var(--brd-5), var(--brd-6), 
		var(--brd-7), var(--brd-8), var(--brd-9));
	background-size: 400%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	z-index: -1;
	animation: swirl 4s linear infinite;
}

.card:nth-child(2).glow::before {
	animation-delay: 500ms;
}

.card:nth-child(3).glow::before {
	animation-delay: 1500ms;
}

.card:nth-child(4).glow::before {
	animation-delay: 3500ms;
}

@keyframes swirl {
	0% {
		filter: hue-rotate(0deg) blur(20px);
		opacity: 0.8;
	}
	100% {
		filter: hue-rotate(360deg) blur(20px);
	}
}

.glow::before {
	filter: blur(20px);
	opacity: 0.8;
}
