:root {
	// https://coolors.co/202030-39304a-635c51-7d7461-b0a990
	--raisin-black: #202030ff;
	--english-violet: #39304aff;
	--walnut-brown: #635c51ff;
	--battleship-gray: #7d7461ff;
	--khaki: #b0a990ff;
	--white: #eee;
}

html {
	--bg-1: var(--raisin-black);
	--bg-2: var(--english-violet);
	--bg-3: var(--walnut-brown);
	--bg-4: var(--battleship-gray);
	--bg-5: var(--khaki);
	--txt-1: var(--white);
	--brd-1: #e6fb04;
	--brd-2: #ff6600;
	--brd-3: #00ff66;
	--brd-4: #00ffff;
	--brd-5: #ff00ff;
	--brd-6: #ff0099;
	--brd-7: #6e0dd0;
	--brd-8: #ff3300;
	--brd-9: #099fff;
}
