:root {
	// https://coolors.co/f5b700-00a1e4-dc0073-89fc00
	--charcoal: #222222ee;
	--selective-yellow: #f5b700;
	--celestial-blue: #00a1e4;
	--mexican-pink: #dc0073;
	--chartreuse: #89fc00;
	--white: #eee;
}

html {
	--bg-1: var(--charcoal);
	--bg-2: var(--selective-yellow);
	--bg-3: var(--celestial-blue);
	--bg-4: var(--mexican-pink);
	--bg-5: var(--chartreuse);
	--txt-light: var(--white);
	--txt-dark: var(--charcoal);
	--brd-1: #e6fb04;
	--brd-2: #ff6600;
	--brd-3: #00ff66;
	--brd-4: #00ffff;
	--brd-5: #ff00ff;
	--brd-6: #ff0099;
	--brd-7: #6e0dd0;
	--brd-8: #ff3300;
	--brd-9: #099fff;
}
