*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  min-height: 100vh;
	font-size: 1.5em;
	color: var(--txt-dark);
	background-color: var(--bg-1);
}

.wrap {
	height: 100%;
	display: grid;
	gap: 20px;
	scroll-snap-type: y mandatory;
	grid-template-columns: 1fr;
	grid-template-rows: 60px repeat(4, calc(100vh - 60px));
	grid-template-areas: 
		"nav"
		"one"
		"two"
		"three"
		"four";

	nav.header {
		grid-area: nav;
		position: fixed;
		top: 0;
		height: 60px;
		width: 100%;
	}

	.section.one {
		grid-area: one;
	}
	.section.two {
		grid-area: two;
	}
	.section.three {
		grid-area: three;
	}
	.section.four {
		grid-area: four;
	}
}

.section {
	height: calc(50vh - 60px);
	scroll-snap-align: end;
	position: relative;
	z-index: -1;
	margin-block: 10rem;

	a.anchor {
		display: block;
		position: absolute;
		top: -200px;
	}

	h2 {
		margin-left: 100px;
		font-size: 11em;
		text-align: center;
		font-weight: 800;
		width: 60%;
		// background-image: url(https://unsplash.it/800);
		// background-repeat: no-repeat;
		background-image: 
			radial-gradient(#0000, #000 75%),
			repeating-conic-gradient(
				from 35deg, 
				var(--chk-1) 0deg 90deg, 
				var(--chk-2) 90deg 180deg
			);
		background-size: 100%, 10px 10px;
		// background-size: cover;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}

.section.one {
	--bg: var(--bg-2);
	--chk-1: var(--bg-1);
	--chk-2: var(--bg-5);
	--skew-angle: -3deg;
}

.section.two {
	--bg: var(--bg-3);
	--chk-1: var(--bg-1);
	--chk-2: var(--bg-4);
	--skew-angle: 4deg;
}

.section.three {
	--bg: var(--bg-4);
	--chk-1: var(--bg-1);
	--chk-2: var(--bg-2);
	--skew-angle: -5deg;
}

.section.four {
	--bg: var(--bg-5);
	--chk-1: var(--bg-2);
	--chk-2: var(--bg-4);
	--skew-angle: 6deg;
}

.diagonal {
	position: relative;
	isolation: isolate;
}

.diagonal::after {
	content: '';
	position: absolute;
	z-index: -1;
	background-color: var(--bg);
	inset: 0;
	transform: skewY(var(--skew-angle));
	filter: blur(3px);
}
