nav.header {
	display: grid;
	background: var(--bg-1);

	ul {
		display: flex;
		justify-items: center;
		align-items: center;
		margin: 10px auto;
		gap: 20px;
		list-style: none;

		li {
		}

		li a {
			color: var(--txt-light);
		}
	}
}
